page-home {
    .main-content{
        background-color: #dddddd;
        padding-top: 55px;
    }
    .segment{
        background-color: #ffffff;
        width: 100%;
        position: fixed;
        top:0;
    }
    .item-container{
        margin-top: 50px;
    }
    .txt-item{
        border-radius: 10px;
        background-color: #ffffff;
        margin: 1%;
    }
    .img-item{
        display:flex;
        align-items:center;
        flex-direction:column;
        justify-content:center;
        background-color:#ffffff;
        margin: 1%;
        border-radius: 10px;       
    }
    .item-title{
        text-align: center;
        font-size: 18px;
        height: 30px;
        padding:5px;
    }
    .item-text{
        padding:5px;
        padding-top: 3px;
        padding-left: 8px;
        padding-right: 8px;
        font-size: 16px;
    }

}
