page-home {
    .main-content{
        background-color: #dddddd;
    }
    .item-container{
        border-radius: 10px;
        background-color: #ffffff;
        margin:5px;
        margin-bottom: 6px;
    }
    .segment{
        background-color: #ffffff;
        position: relative;
        width: 100%;
        top:0;
    }
    .content{
        
    }
    .item-title{
        text-align: center;
        font-size: 18px;
        height: 30px;
        padding:5px;
    }
    .item-text{
        padding:5px;
        padding-top: 3px;
    }

}
