<ion-content class="main-content">
    <div class="segment">
        <ion-segment [(ngModel)]="joke">
            <ion-segment-button value="txt" (ionSelect)="onSelectSegment('txt')">文本</ion-segment-button>
            <ion-segment-button value="img" (ionSelect)="onSelectSegment('img')">图片</ion-segment-button>
            <ion-segment-button value="gif" (ionSelect)="onSelectSegment('gif')">动态</ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="joke" class="item-container">
        <div *ngSwitchCase="'txt'">
            <div *ngFor="let item of jokeList" class="txt-item">
                <div class="item-title">{{item.title}}</div>
                <div class="item-text">{{item.text}}</div>
            </div>
        </div>
        <div *ngSwitchCase="'img'">
            <div *ngFor="let item of jokeList" class="img-item">
                <div class="item-title">{{item.title}}</div>
                <img [src]="item.img"/>
            </div>    
        </div>
        <div *ngSwitchCase="'gif'">
            <div *ngFor="let item of jokeList" class="img-item">
                <div class="item-title">{{item.title}}</div>
                <img [src]="item.img"/>
            </div> 
        </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" distance="5%" immediate-check="false">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
