page-history {
    .item-title{
        font-size:20px;
        width: 100%;
        word-break:break-all;
        word-wrap: break-word;
    }
    .item-date{
        float:right;
        margin-top:5px;
    }

}
