page-history {
	.main-content{
		background-color:#dddddd;
	}
    .item-title{
        font-size:20px;
        word-wrap: break-word;
        word-break: break-all;
        margin:5px;
        margin-left:15px;
        max-width: 92%;
    }
    .item-container{
    	margin:5px;
    	margin-bottom:6px;
    	border-radius:10px;
    	background-color:#ffffff;
    	display:flex;
    	flex-direction:column;
    }
    .item-date{
        margin:5px;
        margin-right:10px;
        text-align:right;
    }

}
